.quotation_quote__2RrA2 {
    text-align: center;
    margin-top: -85px;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    letter-spacing: normal;
    padding: 13px;
    line-height: 35px
}

.spinner_animationload__3VLzD {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    min-height: 200px
}

.spinner_spinner__2-bYp .spinner_osahanloading__1Rsnl {
    -webkit-animation: spinner_osahanloading__1Rsnl 1.5s linear 0s infinite normal none running;
    -moz-animation: spinner_osahanloading__1Rsnl 1.5s linear 0s infinite normal none running;
    animation: spinner_osahanloading__1Rsnl 1.5s linear 0s infinite normal none running;
    background: #ff7400 none repeat scroll 0 0;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%
}

.spinner_spinner__2-bYp .spinner_osahanloading__1Rsnl:after {
    -webkit-animation: spinner_osahanloading_after__2p3L3 1.5s linear 0s infinite normal none running;
    -moz-animation: spinner_osahanloading_after__2p3L3 1.5s linear 0s infinite normal none running;
    animation: spinner_osahanloading_after__2p3L3 1.5s linear 0s infinite normal none running;
    border-color: #ff7400 transparent;
    border-style: solid;
    content: "";
    position: absolute
}

@-webkit-keyframes spinner_osahanloading__1Rsnl {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        background: #a1fefe none repeat scroll 0 0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-moz-keyframes spinner_osahanloading__1Rsnl {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        background: #a1fefe none repeat scroll 0 0;
        -moz-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    to {
        -moz-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner_osahanloading__1Rsnl {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        background: #a1fefe none repeat scroll 0 0;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.spinner_osahanloading__1Rsnl {
    border-radius: 20px;
    height: 20px;
    width: 20px
}

.spinner_osahanloading__1Rsnl:after {
    left: -7px;
    top: -7px;
    border-width: 5px;
    border-radius: 34px;
    height: 34px;
    width: 34px
}

.dk-carousel_sliderContainer__3zuS0 {
    position: relative
}

.dk-carousel_slider__2p09r {
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-pack: start;
    justify-content: flex-start;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
    overflow-x: auto;
    overflow-x: overlay;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.dk-carousel_slider__2p09r::-webkit-scrollbar {
    height: 4px;
    cursor: -webkit-grab;
    cursor: grab
}

.dk-carousel_slider__2p09r.dk-carousel_mobView__mzIaJ::-webkit-scrollbar {
    height: 0;
    width: 0
}

.dk-carousel_slider__2p09r::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px
}

.dk-carousel_slider__2p09r:hover::-webkit-scrollbar-thumb {
    background: transparent;
    background: #d2d2d2
}

.dk-carousel_slide__3Uk9c {
    flex-shrink: 0
}

.dk-carousel_dotWrapper___XJEe {
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px
}

.dk-carousel_dot__30P-1 {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ff7400;
    border-radius: 50px;
    padding: 3px
}

.dk-carousel_dot__30P-1.dk-carousel_active__gRfBa {
    background: -moz-linear-gradient(45deg, orange, red);
    background: linear-gradient(45deg, orange, red);
    width: 32px
}

.category-list_campaignCarousel__1Zhz- {
    padding-bottom: 0;
    grid-gap: 0;
    gap: 0
}

.category-list_categoryDiv__3sBVH {
    height: 100%;
    padding: 8px 10px;
    background: #fff;
    color: #111;
    text-align: center;
    white-space: nowrap;
    cursor: pointer
}

.category-list_categoryDiv__3sBVH .category-list_categoryIcon__1iBWP {
    color: #423b7d;
    font-size: 24px
}

.category-list_categoryDiv__3sBVH .category-list_categoryName__1ui-6 {
    display: block;
    text-transform: none;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0
}

.category-list_categoryDiv__3sBVH.category-list_active__1GJan {
    background: #eafaff;
    border-radius: 10px 10px 0 0;
    color: #ff7400
}

.category-list_categoryDiv__3sBVH.category-list_active__1GJan .category-list_categoryIcon__1iBWP {
    color: #ff7400
}

.category-list_urgentCategory__1aNbv {
    display: block;
    margin: 5px auto 8px;
    width: 24px;
    height: 22px;
    background: url(../media/urgent.5d92f251bd4aa42344bf4e356535b524.svg) no-repeat;
    background-size: auto 100%;
    background-position: 50%
}

.category-list_categoryDiv__3sBVH.category-list_active__1GJan .category-list_urgentCategory__1aNbv {
    background-image: url(../media/activeUrgent.63db3825c8328ea195f0036dd46bddb3.svg)
}

.category-list_exploreCampaignCategory__1XbIq {
    margin-right: 10px;
    background: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis
}

@media only screen and (max-width:991px) {
    .category-list_categoryDiv__3sBVH {
        padding: 8px 4px
    }

    .category-list_categoryDiv__3sBVH .category-list_categoryIcon__1iBWP {
        font-size: 20px
    }

    .category-list_categoryDiv__3sBVH .category-list_categoryName__1ui-6 {
        font-size: 12px
    }

    .category-list_categoryDiv__3sBVH.category-list_active__1GJan {
        border-radius: 0
    }

    .category-list_urgentCategory__1aNbv {
        margin: 2px auto 5px
    }
}

.category-list_exploreCampaignCategory__1XbIq.category-list_active__1GJan {
    border: .3px solid #ff7400;
    background: #f3f3f3;
    border-radius: 4px
}

.campaign-categories_descriptionWrapper__1NgUJ {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0 0
}

.dk-radio_radioBtn__qHa_y [type=radio]:checked,
.dk-radio_radioBtn__qHa_y [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0
}

.dk-radio_radioBtn__qHa_y [type=radio]:checked+.dk-radio_label__x33kh:before,
.dk-radio_radioBtn__qHa_y [type=radio]:not(:checked)+.dk-radio_label__x33kh:before {
    content: "";
    position: relative;
    left: auto;
    top: auto;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    background: #f6f6f6;
    display: block;
    margin-right: 10px
}

.dk-radio_radioBtn__qHa_y [type=radio]:checked+.dk-radio_label__x33kh:before {
    border-color: #2fc816
}

.dk-radio_radioBtn__qHa_y .dk-radio_label__x33kh:hover:before {
    border: 2px solid #a4a4a4
}

.dk-radio_radioBtn__qHa_y [type=radio]:not(:checked)+.dk-radio_label__x33kh:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0)
}

.dk-radio_radioBtn__qHa_y [type=radio]:checked+.dk-radio_label__x33kh:after,
.dk-radio_radioBtn__qHa_y [type=radio]:not(:checked)+.dk-radio_label__x33kh:after {
    content: "";
    position: absolute;
    top: -moz-calc(50% - 5px);
    top: calc(50% - 5px);
    left: 7px;
    width: 10px;
    height: 10px;
    font-size: 22px;
    font-weight: 500;
    line-height: .8;
    background-color: #2fc816;
    border-radius: 50%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

.dk-radio_radioBtn__qHa_y [type=radio]:checked+.dk-radio_label__x33kh,
.dk-radio_radioBtn__qHa_y [type=radio]:not(:checked)+.dk-radio_label__x33kh {
    padding: 0;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    font-weight: 400
}

.dk-select_selectWrapper__1Q_cj {
    position: relative
}

.dk-select_selectArrow__1hiL6 {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    opacity: .5
}

.dk-select_select__37i48 {
    width: 100%;
    border: 2px solid #333;
    border-radius: 50px;
    height: 42px;
    opacity: .5;
    padding: 8px 36px 8px 15px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.menu-card_menuCard__59oDZ {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    padding: 25px;
    height: 463px
}

.menu-card_menuCardContainer__2bAvJ {
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: end;
    justify-content: flex-end
}

.menu-card_cardHeader__2LxSW {
    border-bottom: 1px solid #c9c9c9;
    padding: 16px
}

.menu-card_cardFooter__18I1- {
    border-top: 1px solid #c9c9c9;
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 12px 16px
}

.sort-campaign_radioBtn__UYE17 [type=radio]:checked+label:before {
    border-color: #ff7400 !important
}

.sort-campaign_radioBtn__UYE17 [type=radio]+label:before {
    margin-right: 0 !important
}

.sort-campaign_radioBtn__UYE17 [type=radio]:checked+label:after {
    background-color: #ff7400 !important
}

.sort-campaign_radioBtn__UYE17 [type=radio]+label:after {
    left: auto !important;
    right: 7px
}

.sort-campaign_sortLabel__YSJaV {
    font-weight: 500 !important;
    font-size: 17px;
    white-space: nowrap;
    color: rgba(68, 68, 68, .9);
    cursor: pointer;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    flex-direction: row-reverse;
    -moz-box-pack: justify;
    justify-content: space-between
}

.sort-campaign_sortLabel__YSJaV.sort-campaign_active__3abnu {
    color: #ff7400
}

.sort-campaign_sortingOptWrapper__2AKUY {
    display: -moz-box;
    display: flex;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    color: #333;
    font-size: 17px
}

.sort-campaign_sortByLabel__2AkXw {
    padding-right: 8px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, .7)
}

.sort-campaign_sortingOptMobileWrapper__2osBt {
    padding: 8px 16px 24px
}

.sort-campaign_sortOption__UOWjy {
    padding-top: 18px
}

.sort-campaign_optionLabel__YPKKb {
    font-weight: 500;
    font-size: 17px;
    white-space: nowrap;
    color: rgba(68, 68, 68, .9);
    cursor: pointer
}

.sort-campaign_optionLabel__YPKKb.sort-campaign_active__3abnu {
    color: #f67506
}

.sort-campaign_optionIcon__f9dOW {
    width: 22px;
    margin-right: 12px;
    text-align: center
}

.sort-campaign_title__32SAb {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
    color: #444
}

.dk-checkbox_checkbox__2WKOC {
    padding-top: 16px
}

.dk-checkbox_checkbox__2WKOC [type=checkbox]:checked,
.dk-checkbox_checkbox__2WKOC [type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px
}

.dk-checkbox_checkbox__2WKOC [type=checkbox]:checked+label:before,
.dk-checkbox_checkbox__2WKOC [type=checkbox]:not(:checked)+label:before {
    content: "";
    position: relative;
    left: auto;
    top: auto;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 2px solid #d3d3d3;
    background: #f6f6f6;
    border-radius: 4px;
    display: block;
    margin-right: 10px
}

.dk-checkbox_checkbox__2WKOC [type=checkbox]:checked+label:before {
    background: #2fc816;
    border-color: #2fc816
}

.dk-checkbox_checkbox__2WKOC label:hover:before {
    border: 2px solid #a4a4a4
}

.dk-checkbox_checkbox__2WKOC [type=checkbox]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0)
}

.dk-checkbox_checkbox__2WKOC [type=checkbox]:checked+label:after,
.dk-checkbox_checkbox__2WKOC [type=checkbox]:not(:checked)+label:after {
    content: "✓";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center
}

.dk-checkbox_checkbox__2WKOC [type=checkbox]:checked+label,
.dk-checkbox_checkbox__2WKOC [type=checkbox]:not(:checked)+label {
    padding: 0;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    font-weight: 400
}

.location-multi-select_partitionLabel__eS4AK {
    font-size: 24px;
    font-weight: 700;
    line-height: 1
}

.location-multi-select_labelPadding__1qv1r {
    padding: 24px 0 4px
}

.location-multi-select_locationLabel__w1vLD {
    font-weight: 500 !important;
    font-size: 17px;
    white-space: nowrap;
    color: rgba(68, 68, 68, .9);
    cursor: pointer;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    flex-direction: row-reverse;
    -moz-box-pack: justify;
    justify-content: space-between
}

.location-multi-select_locationLabel__w1vLD.location-multi-select_active__1fEn3 {
    color: #ff7400
}

.location-multi-select_checkboxBtn__3vp0I [type=checkbox]:checked+label:before {
    border-color: #ff7400 !important
}

.location-multi-select_checkboxBtn__3vp0I [type=checkbox]+label:before {
    margin-right: 0 !important
}

.location-multi-select_checkboxBtn__3vp0I [type=checkbox]:checked+label:after {
    background-color: #ff7400 !important;
    border-radius: 4px
}

.location-multi-select_checkboxBtn__3vp0I [type=checkbox]+label:after {
    left: auto !important
}

.location-filter_flexSpaceBetween__3wQOF,
.location-filter_labelWrapper__1sygg,
.location-filter_title__3-l65 {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center
}

.location-filter_locationContainer__25Hp0 {
    padding: 16px 16px 24px
}

.location-filter_locationFilter__gP8wW {
    position: relative
}

.location-filter_filterLabel__16AN- {
    padding-right: 8px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, .7)
}

.location-filter_applyButton__28CCg,
.location-filter_resetButton__20PQI {
    width: 40%;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px
}

.location-filter_resetButton__20PQI {
    border: 0;
    background-color: #fff;
    color: #ff7400;
    padding: 0;
    text-align: left
}

.location-filter_applyButton__28CCg {
    background: -webkit-gradient(linear, left top, right top, from(#f29638), to(#ec4627));
    background: -moz-linear-gradient(left, #f29638 0, #ec4627 100%);
    background: linear-gradient(90deg, #f29638, #ec4627);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    color: #fdfdfd;
    border: 0
}

.location-filter_title__3-l65 {
    margin: 0;
    text-transform: uppercase;
    color: #444
}

.location-filter_labelWrapper__1sygg {
    width: 200px;
    font-weight: 700
}

.location-filter_labelWrapper__1sygg .location-filter_icon__2vDql {
    opacity: .4
}

.location-filter_dropDown__3xN6- {
    position: absolute;
    background: #fff;
    max-height: 320px;
    overflow-y: auto;
    width: 250px;
    padding: 15px 10px 10px;
    z-index: 99;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    border-radius: 0 0 6px 6px
}

.location-filter_dropDown__3xN6-::-webkit-scrollbar {
    width: 0;
    background: transparent
}

.dk-progress-bar_backgroundBar__25DwK {
    background-color: #f0f0f0;
    width: 100%;
    height: 14px;
    border-radius: 7px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center
}

.dk-progress-bar_progressBar__3NzxJ {
    color: #fff;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    padding: 0;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    max-width: 100%
}

.dk-progress-bar_animatedProgressBar__3NDGy {
    height: 100%;
    border-radius: 7px;
    background: -moz-linear-gradient(45deg, orange, red);
    background: linear-gradient(45deg, orange, red);
    -webkit-animation: dk-progress-bar_progress__3GFAY 2s ease-in-out;
    -moz-animation: dk-progress-bar_progress__3GFAY 2s ease-in-out;
    animation: dk-progress-bar_progress__3GFAY 2s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both
}

.dk-progress-bar_percentageText__Jq6ZK {
    padding-left: 4px;
    color: #444;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1
}

@-webkit-keyframes dk-progress-bar_progress__3GFAY {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

@-moz-keyframes dk-progress-bar_progress__3GFAY {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes dk-progress-bar_progress__3GFAY {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

.tool-tip_tooltip__X_vxP {
    z-index: 100002
}

.tool-tip_tooltip__X_vxP .tooltip-inner {
    background-color: #000;
    color: #fff;
    max-width: 400px;
    border: 1px solid #fff;
    font-size: 15px;
    padding: 6px 12px;
    text-align: left
}

@media screen and (max-width:400px) {
    .tool-tip_tooltip__X_vxP .tooltip-inner {
        max-width: -moz-calc(100vw - 32px);
        max-width: calc(100vw - 32px)
    }
}

.tax-benefit-tool-tip_taxBenefit__2R0fU {
    position: absolute;
    top: 0;
    right: 0;
    background: #2fc816;
    font-weight: 500;
    font-size: 14px;
    padding: 2px 10px;
    z-index: 9;
    color: #fff;
    cursor: pointer;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    grid-gap: 4px;
    gap: 4px
}

.tax-benefit-tool-tip_campaignTooltip__3cN2S {
    border-radius: 0 0 0 10px
}

.tax-benefit-tool-tip_cardTooltip__3bARY {
    border-radius: 0 8px 0 0
}

.tax-benefit-tool-tip_badge__3BoZw {
    height: 28px;
    background-color: #1ca53a;
    border-radius: 20px;
    color: #fff;
    padding: 0 10px 0 12px;
    font-size: 12px;
    font-weight: 500;
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    grid-gap: 4px;
    gap: 4px
}

.tax-benefit-tool-tip_badge__3BoZw svg {
    font-size: 12px
}

.tax-benefit-tool-tip_icon__3bD7_ {
    color: #fff;
    font-size: 8px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 13px;
    line-height: 11px;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center
}

@media only screen and (max-width:575px) {
    .tax-benefit-tool-tip_badge__3BoZw {
        height: 24px;
        font-size: 10px;
        font-weight: 400;
        grid-gap: 4px;
        gap: 4px
    }

    .tax-benefit-tool-tip_badge__3BoZw svg {
        font-size: 10px
    }
}

.fcra-tag-tool-tip_fcraTag__1UvR- {
    position: absolute;
    top: 0;
    left: 0;
    background: #423b7d;
    font-weight: 700;
    font-size: 14px;
    padding: 2px 10px;
    z-index: 9;
    color: #fff;
    cursor: pointer
}

.fcra-tag-tool-tip_campaignTooltip__2pvX- {
    border-radius: 10px 0 0 0
}

.fcra-tag-tool-tip_cardTooltip___2ODG {
    border-radius: 8px 0 0 0
}

.fcra-tag-tool-tip_checkIcon__3Nh7e {
    border: 1.5px solid #fff;
    padding: 2px;
    border-radius: 50%
}

.campaign-card_campaignCard__3h_CI {
    display: inline-block;
    background: #fff;
    max-width: 360px;
    width: 360px;
    margin: 15px;
    border-radius: 8px;
    position: relative;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    -webkit-transition: -webkit-box-shadow .2s ease-out;
    transition: -webkit-box-shadow .2s ease-out;
    -moz-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
    color: #111;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left
}

.campaign-card_campaignCard__3h_CI:hover {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

.campaign-card_cardMainSection__3wvO5 {
    position: relative;
    cursor: pointer;
    border-radius: 8px 8px 0 0
}

.campaign-card_campaignImage__1Dfag {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #f6f6f6;
    border-bottom: 2px solid #f1f1f1;
    border-radius: 8px 8px 0 0;
    position: relative
}

.campaign-card_campaignImage__1Dfag img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0
}

.campaign-card_campaignLinkWrap__2ve4y {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: -moz-calc(100% - 54px);
    height: calc(100% - 54px)
}

.campaign-card_campaignDetailWrapper__1tPlX {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-flex: 1;
    flex-grow: 1
}

.campaign-card_campaignSummary__1VBCd {
    padding: 12px 16px 8px;
    flex-shrink: 1
}

.campaign-card_campaignTitle__3Cjsz {
    font-weight: 700;
    margin: 0;
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 22px;
    height: 46px
}

.campaign-card_campaignAuthor__2CGti {
    margin-bottom: 0;
    letter-spacing: 0;
    color: rgba(0, 0, 0, .3);
    font-size: 13px;
    line-height: 16px
}

.campaign-card_authorImg__ukLIt,
.campaign-card_campaignAuthor__2CGti {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    height: 32px
}

.campaign-card_authorImg__ukLIt {
    border-radius: 50%;
    margin-right: 10px;
    min-width: 32px;
    max-width: 32px;
    color: #423b7d;
    background-color: #f2f2f2;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px
}

.campaign-card_authorImg__ukLIt img {
    border-radius: 50%
}

.campaign-card_campaignDetails__2DkKM {
    margin-top: 10px;
    margin-bottom: 0
}

.campaign-card_campaignStats__2UM7R {
    -moz-box-flex: 1;
    flex-grow: 1;
    padding: 0 16px 16px
}

.campaign-card_progressBarHeading__tZuXT {
    margin-bottom: 6px;
    color: #999;
    font-weight: 500;
    letter-spacing: 1px
}

.campaign-card_totalRaisedAmount__3Fl78 {
    color: #111;
    font-size: 16px;
    font-weight: 700
}

.campaign-card_statsWrapper__eFgvz {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between
}

.campaign-card_daysLeft__JraZG {
    width: 46%;
    font-weight: 600;
    background: #f3fafc;
    border-radius: 4px;
    padding: 4px 10px
}

.campaign-card_daysLeft__JraZG img {
    margin-right: 4px
}

.campaign-card_stats__3_5AK {
    width: 46%;
    font-weight: 600;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center
}

.campaign-card_stats__3_5AK svg {
    font-size: 8px;
    color: #afb1b2
}

.campaign-card_btnSection__2EXX_ {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 0 16px 16px
}

.campaign-card_btn__7FYJl {
    width: 46%;
    text-align: center;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
    text-decoration: none
}

.campaign-card_btn__7FYJl:focus,
.campaign-card_btn__7FYJl:hover {
    text-decoration: none;
    cursor: pointer
}

.campaign-card_readMoreBtn__lA6h0 {
    background: #fff;
    color: #25d366;
    border: 1px solid #25d366
}

.campaign-card_readMoreBtn__lA6h0 svg {
    font-size: 16px
}

.campaign-card_readMoreBtn__lA6h0.campaign-card_dskView__3hyFT {
    color: #3b5998;
    border: 1px solid #3b5998
}

.campaign-card_readMoreBtn__lA6h0.campaign-card_dskView__3hyFT:focus,
.campaign-card_readMoreBtn__lA6h0.campaign-card_dskView__3hyFT:hover {
    color: #3b5998
}

.campaign-card_readMoreBtn__lA6h0:focus,
.campaign-card_readMoreBtn__lA6h0:hover {
    color: #25d366
}

.campaign-card_donateBtn__2y8iz {
    padding: 7px 12px;
    border: 0;
    background: -moz-linear-gradient(45deg, orange, red);
    background: linear-gradient(45deg, orange, red);
    color: #fff;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content
}

.campaign-card_donateBtn__2y8iz:focus,
.campaign-card_donateBtn__2y8iz:hover {
    color: #fff
}

.campaign-card_backerIcon__-gSlf {
    margin-top: -3px
}

@media only screen and (max-width:767px) {
    .campaign-card_campaignCard__3h_CI {
        width: -moz-calc(100% - 30px);
        width: calc(100% - 30px);
        height: auto;
        margin: 15px auto;
        display: block
    }

    .campaign-card_campaignAuthor__2CGti {
        margin-top: 4px
    }

    .campaign-card_campaignAuthor__2CGti,
    .campaign-card_campaignImage__1Dfag {
        height: auto
    }
}

.campaign-card_partialVisible__1NvOk .campaign-card_campaignImage__1Dfag {
    max-height: 200px
}

.campaign-card_partialVisible__1NvOk .campaign-card_progressBarHeading__tZuXT {
    letter-spacing: .5px
}

.campaign-card_partialVisible__1NvOk .campaign-card_totalRaisedAmount__3Fl78 {
    font-size: 15px
}

.campaign-card_partialVisible__1NvOk .campaign-card_totalRequiredAmount__1Of2S {
    font-size: 13px
}

.campaign-card_partialVisible__1NvOk .campaign-card_daysLeft__JraZG {
    width: 48%;
    padding: 4px 8px
}

.campaign-list_searchCampaignList__3IiO6 {
    width: 100%;
    left: 0;
    right: 0;
    top: 56px;
    position: absolute;
    padding-top: 30px;
    margin: -30px auto auto;
    padding-left: 0;
    border-radius: 0 0 4px 4px;
    max-height: 350px;
    min-height: 140px;
    overflow: auto;
    background: #fff;
    z-index: 10;
    text-align: left;
    border: 2px solid #ff7400
}

.campaign-list_searchCampaignList__3IiO6 li:hover {
    background-color: #f5f5f5
}

.campaign-list_searchCampaignList__3IiO6 li {
    list-style: none;
    min-height: 147px
}

.campaign-list_searchCampaignList__3IiO6 li a {
    padding: 15px;
    white-space: normal;
    text-decoration: none;
    display: -moz-box;
    display: flex;
    height: 100%;
    min-height: 147px
}

.campaign-list_searchCampaignList__3IiO6 li a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

.campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsImg__1mwHi {
    min-width: 30%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px
}

.campaign-list_campaignsDetail__26eUP {
    margin-left: 15px;
    -moz-box-flex: 1;
    flex-grow: 1
}

.campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsImg__1mwHi img {
    height: 125px;
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsName__3xjyX {
    font-size: 19px;
    display: block;
    color: #333;
    margin-bottom: 4px
}

.campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsBy__2GrZO {
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    color: #c9c9c9;
    padding-bottom: 8px
}

@media only screen and (max-width:768px) {
    .campaign-list_searchCampaignList__3IiO6 li {
        min-height: 100px !important
    }

    .campaign-list_searchCampaignList__3IiO6 li a {
        padding: 8px 0 0 8px !important;
        min-height: 60px
    }

    .campaign-list_campaignsImg__1mwHi {
        width: 24% !important;
        display: inline-block
    }

    .campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsImg__1mwHi img {
        height: 80px
    }

    .campaign-list_campaignsDetail__26eUP {
        width: 70% !important;
        display: inline-block
    }

    .campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsBy__2GrZO {
        font-size: 13px
    }

    .campaign-list_searchCampaignList__3IiO6 {
        width: 100%;
        border-radius: 0 0 30px 30px;
        top: 55px
    }

    .campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsName__3xjyX,
    .campaign-list_searchCampaignList__3IiO6 li a .campaign-list_campaignsName__3xjyX>strong {
        font-size: 14px
    }
}

@media only screen and (max-width:575px) {
    .campaign-list_searchCampaignList__3IiO6 {
        border: .5px solid #ff7400
    }
}

.search-bar_searchBarContainer__gcFAB {
    width: 100%;
    position: relative
}

.search-bar_inputGroup__sQ-5G {
    border-radius: 50px;
    overflow: hidden;
    -webkit-box-shadow: 0 12px 12px rgba(255, 116, 0, .15);
    box-shadow: 0 12px 12px rgba(255, 116, 0, .15);
    position: relative;
    border-collapse: separate;
    display: -moz-box;
    display: flex;
    flex-wrap: nowrap;
    z-index: 11
}

.search-bar_inputGroup__sQ-5G:active,
.search-bar_inputGroup__sQ-5G:focus,
.search-bar_inputGroup__sQ-5G:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.search-bar_searchInput__srAHb {
    padding: 6px 12px 6px 32px;
    line-height: 1.43;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -moz-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    position: relative;
    border-radius: 50px 0 0 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fdfdfd;
    height: 46px;
    font-size: 18px;
    border: 2px solid #ff7400;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-flex: 1;
    flex-grow: 1
}

input.search-bar_searchInput__srAHb::-webkit-input-placeholder {
    color: rgba(51, 51, 51, .5);
    font-size: 16px
}

input.search-bar_searchInput__srAHb::-moz-placeholder {
    color: rgba(51, 51, 51, .5);
    font-size: 16px
}

input.search-bar_searchInput__srAHb:-ms-input-placeholder {
    color: rgba(51, 51, 51, .5);
    font-size: 16px
}

input.search-bar_searchInput__srAHb::placeholder {
    color: rgba(51, 51, 51, .5);
    font-size: 16px
}

.search-bar_inputGroupAddon__4lNWC {
    width: 50px;
    border-radius: 50px 0 0 50px
}

.search-bar_btnSearch__Qvd6Q,
.search-bar_btnSearch__Qvd6Q:focus,
.search-bar_btnSearch__Qvd6Q:hover {
    width: 100%;
    height: 100%;
    color: #fff;
    background: #ff7400;
    font-size: 16px;
    font-weight: 900;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    border: 0;
    padding: 0
}

.search-bar_btnSearch__Qvd6Q i {
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}

.search-bar_searchTextClear__V9ExE {
    position: absolute;
    top: 12px;
    z-index: 11;
    right: 60px;
    cursor: pointer
}

.search-bar_searchTextClear__V9ExE>svg {
    font-size: 1.5em;
    opacity: .3
}

.search-bar_noResultFound__1mx-N {
    margin-top: 32px;
    font-size: 20px
}

.search-bar_exploreCampaign__3SNzx .search-bar_inputGroup__sQ-5G {
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    flex-direction: row-reverse;
    border-radius: 0
}

.search-bar_exploreCampaign__3SNzx .search-bar_searchInput__srAHb {
    border-radius: 0 4px 4px 0;
    border: 1.5px solid #ff7400;
    border-left: 0;
    padding-left: 0
}

.search-bar_exploreCampaign__3SNzx .search-bar_btnSearch__Qvd6Q {
    background: #fdfdfd;
    color: #ff7400;
    border: 1.5px solid #ff7400;
    border-right: 0;
    padding: 0 7px;
    border-radius: 4px 0 0 4px
}

.search-bar_exploreCampaign__3SNzx .search-bar_searchTextClear__V9ExE {
    right: 16px
}

@media only screen and (max-width:767px) {
    .search-bar_searchBar__2V09T .search-bar_inputGroup__sQ-5G {
        width: 93%;
        margin: auto;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .search-bar_inputGroupAddon__4lNWC {
        width: 42px
    }

    .search-bar_searchInput__srAHb {
        padding-left: 12px;
        font-size: 14px
    }

    .search-bar_searchInput__srAHb:placeholder-shown {
        padding-right: 0
    }

    input.search-bar_searchInput__srAHb::-webkit-input-placeholder {
        font-size: 12px
    }

    input.search-bar_searchInput__srAHb::-moz-placeholder {
        font-size: 12px
    }

    input.search-bar_searchInput__srAHb:-ms-input-placeholder {
        font-size: 12px
    }

    input.search-bar_searchInput__srAHb::placeholder {
        font-size: 12px
    }

    .search-bar_button__36k7X.search-bar_btnSearch__Qvd6Q {
        padding: 8px 0;
        font-size: 17px
    }

    .search-bar_noResultFound__1mx-N {
        font-size: 15px
    }

    .search-bar_inputGroup__sQ-5G {
        border-radius: 4px 0 0 4px
    }
}

.explore-campaigns_exploreCampaignPage__1Wssu {
    background-color: #fff
}

.explore-campaigns_banner__c_IBN {
    min-height: 14.5833333333vw;
    background-image: url(../media/desktopBannerImg.390f0ff55eb261ca5eab6bcb8d858012.webp);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat
}

.explore-campaigns_filterContainer__2uXwn {
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    grid-gap: 16px;
    gap: 16px
}

.explore-campaigns_sortingWrapper__1pftb {
    padding: 24px 0
}

.explore-campaigns_searchContainer__2QV60 {
    width: 50%;
    -moz-box-flex: 1;
    flex-grow: 1
}

.explore-campaigns_searchBar__2J0UG {
    background: #fff;
    text-align: left
}

.explore-campaigns_campaignCardContainer__3d6hW {
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    -moz-box-pack: center;
    justify-content: center;
    grid-gap: 24px;
    gap: 24px;
    padding: 24px 0
}

.explore-campaigns_campaignCard__1rkfZ {
    margin: 0;
    max-width: 354px
}

.explore-campaigns_seeMoreCampaignsWrapper__bPgLl {
    padding: 16px 0;
    text-align: center
}

.explore-campaigns_noCampaignMsg__Vy5XE {
    padding-top: 64px;
    text-align: center;
    color: rgba(0, 0, 0, .5)
}

.explore-campaigns_noResultImg__1AUAS {
    height: 100px
}

.explore-campaigns_noSearchResultText__3C2Rj {
    font-size: 20px;
    font-weight: 600;
    margin: 32px 0 16px
}

.explore-campaigns_filterBtn__10S1q {
    background: rgba(255, 116, 0, .05);
    color: #000;
    border: 1.5px solid #ff7400;
    padding: 8px 12px;
    border-radius: 4px;
    height: 46px;
    font-weight: 700
}

.explore-campaigns_filterBtn__10S1q:focus,
.explore-campaigns_filterBtn__10S1q:hover {
    text-decoration: none;
    cursor: pointer;
    outline: 0
}

.explore-campaigns_searchBarMobView__1umEA {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.explore-campaigns_expandedSearchBar__3Bn7m {
    margin-top: 25px
}

.explore-campaigns_exploreCampaignSelect__1BpGL {
    padding: 8px 36px 8px 15px !important;
    opacity: 1;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    height: 46px
}

.explore-campaigns_exploreCampaignSelect__1BpGL:focus {
    border: 2px solid #ff7400
}

@media only screen and (max-width:767px) {
    .explore-campaigns_banner__c_IBN {
        min-height: 33.1vw;
        background-image: url(../media/MobileBanner.0596da75a750b7ac5619a8cfc3577227.webp)
    }

    .explore-campaigns_searchContainer__2QV60 {
        width: 30%
    }

    .explore-campaigns_exploreCampaignSelect__1BpGL {
        padding: 8px 12px !important
    }

    .explore-campaigns_campaignCard__1rkfZ,
    .explore-campaigns_expandedSearchBar__3Bn7m {
        width: 100%
    }

    .explore-campaigns_noCampaignMsg__Vy5XE {
        padding: 38px 0
    }

    .explore-campaigns_noSearchResultText__3C2Rj {
        font-size: 17px;
        margin: 16px 0 10px
    }

    .explore-campaigns_noResultImg__1AUAS {
        height: 50px
    }
}

@media only screen and (max-width:359px) {
    .explore-campaigns_filterBtn__10S1q {
        font-size: 11px
    }

    .explore-campaigns_filterContainer__2uXwn {
        grid-gap: 4px;
        gap: 4px
    }
}